*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(46, 46, 46);
    color: antiquewhite;
}
header {
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    padding: 15px;
} 

header h1 {
    font-size: 2.2em;
}

header div {
    flex: 1;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.home {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 60px;
}
.text-content {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.div-home {
    flex: 1;
    display: flex;
}
.content-sections {
    height: 100vh;
}
.home-title {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
}
.home-title span {
    line-height: 2vw;
    font-size: 5vw;
    color: #f0a500;
}

.indicador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.indicador svg {
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.typing-effect {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block; 
  border-right: 2px solid #000;
  padding-right: 2px;
  animation: blink 0.5s step-end infinite;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #f0a500, #f3ffd4);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}


@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: antiquewhite;
  }
}
